{
    "globals": {
        "document": true,
        "foo": true,
        "window": true,
        "localStorage": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "root": true,
    "extends": "airbnb",
    "env": {
        "node": true,
        "es6": true,
        "mocha": true,
        "jest": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/prefer-stateless-function": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-filename-extension": "off",
        "react/no-unused-expressions": "off"
    }
}
