#helloImg{
    width: 20px;
    height: 20px;
}

.nav > li > a:hover, .nav > li > a:focus {
 text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
#userimg{
    padding: 2px;
border: 1px solid;
border-radius: 20px;
margin-left: 15px;
}

#stockInput{
    width: 400px;
}
div #searchbarr{
    margin-top: 10px;
    margin-left: 80px;
}


#create-btn{
    background-color: #3d1112 ;
    color: white;
    
}
.navbar{
    background-color: coral;
    
}
div #searchinpt{
    width: 150px;
}


.jumbotron p{
    color:white;
}
h2{
    color: whitesmoke;
}
#readSummary {
    text-align: center;
}
#hello{
    font-size: x-large;
    color: wheat;
    
}
#navitem{
    font-size: medium;
}

#searchbarr{
    margin-top: 1px;
    
}
#searchinput{
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#searchbtn{
    height: 32px;
}



/*======== dashboard-sidebar style========================*/



 body {
    overflow-x: hidden;
 }

 #pa, #par,#uploadbook,#editbook{
     display: block;
 }

 .returnbtn{
    padding-bottom: 10px;
     background-color: burlywood;
 }



 
 #pa,#editbook,#searchbarr,#page-content-wrapper,#uploadbook{
     width: 500px;
     margin-left: 50px;
 }

 
    #par,#pa{
        margin-top: 0px;
        padding-top: 0px;
        margin-left: 30px;
        
    }

 .pbtn{
     width: 150px;
 }

 input.textfm{
     pointer-events: none;
    color:#AAA;
    background:#F5F5F5;
 }
/* Toggle Styles */

#wrapper {

     padding-left: 250px;
}


#sidebar-wrapper {
    width: 1000px;
    display: block;
   

    margin-left: -25px;
 

    
    background-color: #3d1112;
    height: 450px;

    
}

@media (min-width: 600px) {
#bb_table,#bh_table,#b_page,#ch_pas{
    margin-left: 200px;
}
}


#filebtn,#editbtn{
    background-color: #3d1112;
}

@media (min-width: 600px) {
    #sidebar-wrapper {
      width: 250px;
      position: fixed;
     
      display: block;
      height: 1000px;  
      background-color: #3d1112;    
    }
   
    }
    @media (max-width: 600px) {
    .sidebar-nav
    {
        margin-top: 150px !important;
    }
}
#wrapper {
    width: 250px;
}




/* ==================Sidebar Styles============================================ */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color:wheat;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: wheat;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* ==================Signin Styles============================================ */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#editbtn{
    float: left;
    width: 300px;
}
input::-webkit-input-placeholder {
color: #3d1112 !important;
}

/**************************** PDF SCSCC  **************/

  
  .pdf-reader {
    transition: all .3s ease;
    padding-top: 50px;
    padding-left: 0;
  
    &.tumbnails-open {
      padding-left: 200px;
  
      .pdf-reader-header {
        left: 200px;
      }
      
      .pdf-thumbnail-viewer {
        margin-left: 0;
      }
  
      .pdf-viewer {
        left: 200px;
      }
    }
    .pdf-reader-header {
      transition: all .3s ease;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      display: none;
      background-color: #fff;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
      z-index: 10;
      text-align: center;
  
      > * {
        line-height: 50px;
      }
  
      .count-page {
        font-size: 12px;
        font-weight: 300;
      }
  
      .toggle-sidebar {
        float: left;
      }
  
      .zoom-actions {
        float: right;
      }
    }
  
    .pdf-thumbnail-viewer {
      transition: all .3s ease;
      margin-left: -200px;
      position: fixed;
      top: 0;
      bottom: 0;
      display: none;
      left: 1000px;
     overflow: auto;
      width: 100px;
      overflow: auto;
      padding-top: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      .pdf-thumbnail {
        display: none;
        margin-bottom: 50px;
        text-align: center;
        color: #fff;
        h5 {
          margin-top: 10px;
        }
        img {
          width: 100px;
          opacity: 0.5;
          background-color: #fff;
          box-shadow: 0 0 1px 2px transparentize(#000, .9);
          cursor: pointer;
          transition: opacity .3s ease;
        }
        &.active img {
          opacity: 1;
        }
      }
    }
  
    .pdf-viewer {
      margin-left: 100px;
      position: fixed;
      display: block;
      top: 50px;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
      padding-top: 30px;
      background-color:rgba(0, 0, 0, 0.5);
      transition: all .3s ease;
      width: 700px;
  
      .pdf-page {
        position: relative;
        display: block;
        margin: auto;
        margin-bottom: 40px;
        background-color: #fff;
        box-shadow: 0 0 1px 2px transparentize(#000, .98);
      }
    }
  }
  
  .pdf-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #222222;
    text-align: center;
    h3 {
      color: #ffffff;
      margin-top: 50vh;
      transform: translateY(-50%);
    }
  }
  #pdf_wrapper{
    z-index: 1000;
    display: block;
    background-color: rgba(0, 0, 0, 0.51);
    width: 1000px;
    height: 1000px;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 65px;
    margin-left: 250px;
  }

  #pdf_reader{
      display: block;
      position: relative;
      margin-right: 500px;
      z-index: 1000
  }
  
  .pdf_chip{
      margin-left: 150px;
      position: absolute;
      z-index: 1000;
      display: none;
  }
#table_bh{
box-shadow: 5px 5px 5px 5px #9e8f8f
}

#table_bb{
    box-shadow: 5px 5px 5px 5px #9e8f8f
    }

    .pdf_con:hover{
        .pdf_chip{
            display: block;
        }
       
    }

