.con {
    background: url(http://res.cloudinary.com/tosmak/image/upload/e_brightness:-32/v1515665735/back_dwpldl.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 800px;
    max-height: 800px;
}

.h1-landing {
    font-weight: 700;
    font-size: 5em;
}

.content {
    text-align: center;
    height: 1000px;
    margin-top: -85px;
    padding-top: 30%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .content {
        text-align: center;
        height: 1000px;
        margin-top: -185px;
        padding-top: 60%;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    }
}

.hr-landing {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.landing-button {
    background-color: burlywood !important;
}

.footer-set {
    margin-top: -80px;
}
